[
 "bfxr_armorhit.wav"
 "bfxr_coinget.wav"
 "fanfare10.wav"
 "bfxr_bossdeath.wav"
 "bfxr_playerdeath.wav"
 "bfxr_healmonsters.wav"
 "bfxr_drugsuse.wav"
 "slash.wav"
 "pickup.wav"
 "bfxr_instanthealer_heal.wav"
 "bfxr_playerhit.wav"
 "bfxr_cast.wav"
 "bfxr_projectile_wallhit.wav"
 "bfxr_caveenter.wav"
 "bfxr_rayshooterhit.wav"
 "bfxr_denied.wav"
 "bfxr_click.wav"
 "bfxr_takeit.wav"
 "bfxr_pickup.wav"
 "bfxr_dronedeath.wav"
 "bfxr_merchanttalk.wav"
 "bfxr_itemput.wav"
 "bfxr_teleport.wav"
 "bfxr_defaultmonsterdeath.wav"
 "bfxr_itemputground.wav"
 "bfxr_stationdeath.wav"
 "bfxr_curse.wav"
 "shoot.wav"
 "ReversyH-Nick_Ros-105.wav"
 "bfxr_shield_consume.wav"
 "bfxr_normalhit.wav"
 "bfxr_portaluse.wav"
 "bfxr_fisthit.wav"
 "bfxr_potionuse.wav"
 "bfxr_unburrow.wav"
 "bfxr_monkheal.wav"
 "explode-erco.wav"
 "bfxr_psibolt.wav"
 "bfxr_minedeath.wav"
 "bfxr_questget.wav"
 "bfxr_grenade.wav"
 "kabloom.wav"
 "bfxr_bigmeleeteleport.wav"
 "bfxr_playerteleport.wav"
 "bfxr_powerup.wav"
 "bfxr_chestopen.wav"
 "bfxr_waypointunlock.wav"
 "bfxr_burrow.wav"
 "bfxr_monstercast.wav"
 ]
