[
 editor.widget.animation
 editor.widget.boolean
 editor.widget.enum
 editor.widget.image
 editor.widget.map
 editor.widget.number
 editor.widget.one-to-many
 editor.widget.one-to-one
 editor.widget.sound
 editor.widget.string
 editor.widget.val-max
 schema.malli-form
 ]
