[:map {:closed true}
 [:ctx/fsms :some]
 [:ctx/txs-fn-map :some]
 [:ctx/k->info :some]
 [:ctx/k->tick :some]
 [:ctx/k->render :some]
 [:ctx/k->create :some]
 [:ctx/k->destroy :some]
 [:ctx/k->after-create :some]
 [:ctx/k->state-enter :some]
 [:ctx/k->state-exit :some]
 [:ctx/k->handle-input :some]
 [:ctx/k->cursor :some]
 [:ctx/k->clicked-inventory-cell :some]
 [:ctx/input :some]
 [:ctx/graphics :some]
 [:ctx/audio :some]
 [:ctx/batch :some]
 [:ctx/cursors :some]
 [:ctx/default-font :some]
 [:ctx/unit-scale :some]
 [:ctx/world-unit-scale :some]
 [:ctx/world-viewport :some]
 [:ctx/shape-drawer :some]
 [:ctx/shape-drawer-texture :some]
 [:ctx/textures :some]
 [:ctx/skin :some]
 [:ctx/stage :some]
 [:ctx/active-entities :any]
 [:ctx/delta-time :any]
 [:ctx/mouseover-eid :any]
 [:ctx/ui-mouse-position :any]
 [:ctx/world-mouse-position :any]
 [:ctx/schema :some]
 [:ctx/colors :some]
 [:ctx/controls :some]
 [:ctx/controls-info :some]
 [:ctx/max-delta :some]
 [:ctx/max-speed :some]
 [:ctx/minimum-size :some]
 [:ctx/render-z-order :some]
 [:ctx/z-orders :some]
 [:ctx/content-grid :some]
 [:ctx/entity-ids :some]
 [:ctx/explored-tile-corners :some]
 [:ctx/factions-iterations :some]
 [:ctx/grid :some]
 [:ctx/id-counter :some]
 [:ctx/potential-field-cache :some]
 [:ctx/raycaster :some]
 [:ctx/start-position :some]
 [:ctx/tiled-map :some]
 [:ctx/db :some]
 [:ctx/elapsed-time :some]
 [:ctx/paused? :some]
 [:ctx/player-eid :some]
 ]
