{
 :state-var game.app/state
 :create-pipeline [(create.unorganised/step)
                   (clojure.m.assoc-create/f :ctx/batch create.batch/step)
                   (clojure.m.assoc-create/f :ctx/audio create.audio/step)
                   (clojure.m.assoc-create/f :ctx/shape-drawer-texture create.shape-drawer-texture/step)
                   (clojure.m.assoc-create/f :ctx/shape-drawer create.shape-drawer/step)
                   (clojure.m.assoc-create/f :ctx/skin create.skin/step)
                   (clojure.m.assoc-create/f :ctx/stage create.stage/step)
                   (clojure.pipeline.do/step
                    (create.tooltip-manager-opts/step))
                   (clojure.pipeline.do/step
                    (create.put-colors/step))
                   (clojure.m.assoc-create/f :ctx/cursors create.cursors/step)
                   (clojure.m.assoc-create/f :ctx/textures create.textures/step)
                   (clojure.m.assoc-create/f :ctx/world-viewport create.world-viewport/step)
                   (clojure.m.assoc-create/f :ctx/default-font create.default-font/step)
                   (create.record/step)
                   (create.controls/step)
                   (clojure.m.assoc-create/f :ctx/colors create.colors/step)
                   (clojure.m.assoc-create/f :ctx/render-z-order create.render-z-order/step)
                   (clojure.m.assoc-create/f :ctx/max-speed create.max-speed/step)
                   (clojure.m.assoc-create/f :ctx/db create.db/step)
                   (clojure.pipeline.do/step
                    (create.add-stage-actors/f! [(stage.dev-menu/create)
                                                 (stage.action-bar/create)
                                                 (stage.hp-mana-bar/create)
                                                 (stage.windows/create [stage.info-window/create
                                                                        stage.inventory-window/create])
                                                 (stage.player-state-draw/create)
                                                 (stage.player-message-actor/create)]))
                   (create.tiled-map/step)
                   (clojure.m.assoc-create/f :ctx/grid create.grid/step)
                   (clojure.m.assoc-create/f :ctx/content-grid create.content-grid/step)
                   [clojure.m.assoc-create/f :ctx/explored-tile-corners create.explored-tile-corners/step]
                   [clojure.m.assoc-create/f :ctx/raycaster create.raycaster/step]
                   (create.spawn-player/step)
                   (clojure.pipeline.do/step
                    (create.spawn-enemies/step))]
 :dispose! game.ctx.dispose/do!
 :render-pipeline [
                   [render.get-stage-ctx/step]
                   [render.validate/step]
                   [render.update-mouse-positions/step]
                   [render.update-mouseover-eid/step]
                   [render.check-debug-viewer/step]
                   [render.set-active-entities/step]
                   [render.set-camera-position/step]
                   [render.clear-screen/step]
                   [render.draw-tiled-map/step]
                   [render.draw-on-world-viewport/step [
                                                        #_draw-on-world-viewport.draw-tile-grid/f
                                                        draw-on-world-viewport.draw-cell-debug/f
                                                        draw-on-world-viewport.draw-entities/do!
                                                        #_moon.geom-test
                                                        draw-on-world-viewport.highlight-mouseover-tile/f
                                                        ]]
                   [render.assoc-interaction-state/step]
                   [render.set-cursor/step]
                   [render.handle-player-input/step]
                   [render.dissoc-interaction-state/step]
                   [render.assoc-paused/step]
                   [render.if-not-paused/step [
                                               render.if-not-paused.update-time/f
                                               render.if-not-paused.update-potential-fields/f
                                               render.if-not-paused.tick-entities/f
                                               ]]
                   [render.remove-destroyed-entities/step]
                   [render.window-camera-controls/step]
                   [render.update-draw-stage/step]
                   [render.validate/step]
                   ]
 :resize!  game.ctx.resize/do!
 :title "Moon"
 :windowed-mode {:width 1440
                 :height 900}
 :foreground-fps 60}
