{
 :draw/circle           clojure.draw-circle/f
 :draw/ellipse          clojure.ellipse/f
 :draw/filled-circle    clojure.filled-circle/f
 :draw/filled-rectangle clojure.filled-rectangle/f
 :draw/grid             clojure.draw-grid/f
 :draw/line             clojure.line/f
 :draw/rectangle        clojure.draw-rectangle/f
 :draw/sector           clojure.sector/f
 :draw/text             clojure.text/f
 :draw/texture-region   clojure.draw-texture-region/f!
 :draw/with-line-width  clojure.with-line-width/f
 }
