{
 :draw/circle           clojure.draw.circle/f
 :draw/ellipse          clojure.draw.ellipse/f
 :draw/filled-circle    clojure.draw.filled-circle/f
 :draw/filled-rectangle clojure.draw.filled-rectangle/f
 :draw/grid             clojure.draw.grid/f
 :draw/line             clojure.draw.line/f
 :draw/rectangle        clojure.draw.rectangle/f
 :draw/sector           clojure.draw.sector/f
 :draw/text             clojure.draw.text/f
 :draw/texture-region   clojure.draw.texture-region/f!
 :draw/with-line-width  clojure.draw.with-line-width/f
 }
