{
 :draw/circle           draw.circle/f
 :draw/ellipse          draw.ellipse/f
 :draw/filled-circle    draw.filled-circle/f
 :draw/filled-rectangle draw.filled-rectangle/f
 :draw/grid             draw.grid/f
 :draw/line             draw.line/f
 :draw/rectangle        draw.rectangle/f
 :draw/sector           draw.sector/f
 :draw/text             draw.text/f
 :draw/texture-region   draw.texture-region/f!
 :draw/with-line-width  draw.with-line-width/f
 }
