[
 (clojure.add-methods/f! editor.create-widget/f
                         {
                          :default       editor.create-widget.default/f

                          :s/animation   editor.create-widget.animation/f
                          :s/boolean     editor.create-widget.boolean/f
                          :s/enum        editor.create-widget.enum/f
                          :s/image       editor.create-widget.image/f
                          :s/map         editor.create-widget.map/f
                          :s/number      editor.create-widget.number/f
                          :s/one-to-many editor.create-widget.one-to-many/f
                          :s/one-to-one  editor.create-widget.one-to-one/f
                          :s/sound       editor.create-widget.sound/f
                          :s/string      editor.create-widget.string/f
                          :s/val-max     editor.create-widget.val-max/f
                          }
                         )
 (clojure.add-methods/f! editor.widget-value/f
                         {
                          :default       editor.widget-value.default/f

                          :s/boolean     editor.widget-value.boolean/f
                          :s/enum        editor.widget-value.enum/f
                          :s/map         editor.widget-value.map/f
                          :s/number      editor.widget-value.number/f
                          :s/one-to-many editor.widget-value.one-to-many/f
                          :s/one-to-one  editor.widget-value.one-to-one/f
                          :s/string      editor.widget-value.string/f
                          :s/val-max     editor.widget-value.val-max/f
                          }
                         )
 (gdx.use-glfw-async/f)
 (gdx.application/f!
  {:listener (moon.application.listener/f
              {
               :state-var editor.app/state
               :create-pipeline [
                                 (ctx.gdx-context/f)
                                 (clojure.map.assoc-create/f :ctx/batch ctx.batch/step)
                                 (clojure.map.assoc-create/f :ctx/skin ctx.skin/step)
                                 (clojure.map.assoc-create/f :ctx/db ctx.db/step)
                                 (clojure.map.assoc-create/f :ctx/stage ctx.stage/step)
                                 (clojure.pipeline.do/step
                                  (ctx.add-stage-actors/f! [[editor.main-window/create]]))
                                 (clojure.map.create/f :ctx/textures (ctx.textures/step
                                                              {:folder "resources/"
                                                               :extensions #{"png" "bmp"}}))
                                 (editor.app.create/f!
                                  {:ctx/property-overview-window editor.property-overview-window/create
                                   :ctx/add-component-window editor.map-widget-table.add-component-window/f
                                   :ctx/create-component-row editor.map-widget-table.component-row/create
                                   :ctx/create-map-widget-table editor.map-widget-table/create
                                   :ctx/rebuild-editor-window! editor.rebuild/f!
                                   :ctx/property-k-sort-order [:property/id
                                                               :property/pretty-name
                                                               :entity/image
                                                               :entity/animation
                                                               :entity/species
                                                               :creature/level
                                                               :entity/body
                                                               :item/slot
                                                               :projectile/speed
                                                               :projectile/max-range
                                                               :projectile/piercing?
                                                               :skill/action-time-modifier-key
                                                               :skill/action-time
                                                               :skill/start-action-sound
                                                               :skill/cost
                                                               ]})
                                 ]
               :dispose! editor.app.dispose/dispose!
               :render-pipeline [(ctx.render.clear-screen/step)
                                 (editor.app.render/render!)]
               :resize! editor.app.resize/resize!})
   :title "!Editor!"
   :windowed-mode {:width 1440 :height 900}
   :foreground-fps 60})
 ]
