{
 :k->fn {
         :creature/level ctx.info.creature.level/f
         :entity/stats ctx.info.entity.stats/f
         :effects.target/convert ctx.info.effects.target.convert/f
         :effects.target/damage ctx.info.effects.target.damage/f
         :effects.target/kill ctx.info.effects.target.kill/f
         :effects.target/melee-damage ctx.info.effects.target.melee-damage/f
         :effects.target/spiderweb ctx.info.effects.target.spiderweb/f
         :effects.target/stun ctx.info.effects.target.stun/f
         :effects/spawn ctx.info.effects.spawn/f
         :effects/target-all ctx.info.effects.target-all/f
         :entity/delete-after-duration ctx.info.entity.delete-after-duration/f
         :entity/faction ctx.info.entity.faction/f
         :entity/fsm ctx.info.entity.fsm/f
         :stats/modifiers ctx.info.stats.modifiers/info
         :entity/skills ctx.info.entity.skills/f
         :entity/species ctx.info.entity.species/f
         :entity/temp-modifier ctx.info.entity.temp-modifier/f
         :projectile/piercing? ctx.info.projectile.piercing/f
         :property/pretty-name ctx.info.property.pretty-name/f
         :skill/cooling-down? ctx.info.skill.cooling-down/f
         :skill/action-time ctx.info.skill.action-time/f
         :skill/action-time-modifier-key ctx.info.skill.action-time-modifier-key/f
         :skill/cooldown ctx.info.skill.cooldown/f
         :skill/cost ctx.info.skill.cost/f
         :maxrange ctx.info.projectile.maxrange/f
         }
 :k-order [
           :property/pretty-name
           :skill/action-time-modifier-key
           :skill/action-time
           :skill/cooldown
           :skill/cost
           :skill/effects
           :entity/species
           :creature/level
           :entity/stats
           :entity/delete-after-duration
           :projectile/piercing?
           :entity/projectile-collision
           :maxrange
           :entity-effects
           ]
 :k->colors {
             :property/pretty-name "PRETTY_NAME"
             :stats/modifiers "CYAN"
             :maxrange "LIGHT_GRAY"
             :creature/level "GRAY"
             :projectile/piercing? "LIME"
             :skill/action-time-modifier-key "VIOLET"
             :skill/action-time "GOLD"
             :skill/cooldown "SKY"
             :skill/cost "CYAN"
             :entity/delete-after-duration "LIGHT_GRAY"
             :entity/faction "SLATE"
             :entity/fsm "YELLOW"
             :entity/species "LIGHT_GRAY"
             :entity/temp-modifier "LIGHT_GRAY"
             }
 }
