{
 :k->fn {
         :creature/level clojure.level/f
         :entity/stats clojure.entity-stats/f
         :effects.target/convert clojure.target-convert/f
         :effects.target/damage clojure.target-damage/f
         :effects.target/kill clojure.target-kill/f
         :effects.target/melee-damage clojure.target-melee-damage/f
         :effects.target/spiderweb clojure.target-spiderweb/f
         :effects.target/stun clojure.target-stun/f
         :effects/spawn clojure.effects-spawn/f
         :effects/target-all clojure.effects-target-all/f
         :entity/delete-after-duration clojure.entity-delete-after-duration/f
         :entity/faction clojure.entity-faction/f
         :entity/fsm clojure.entity-fsm/f
         :stats/modifiers clojure.modifiers/info
         :entity/skills clojure.entity-skills/f
         :entity/species clojure.species/f
         :entity/temp-modifier clojure.entity-temp-modifier/f
         :projectile/piercing? clojure.piercing/f
         :property/pretty-name clojure.pretty-name/f
         :skill/cooling-down? clojure.cooling-down/f
         :skill/action-time clojure.action-time/f
         :skill/action-time-modifier-key clojure.action-time-modifier-key/f
         :skill/cooldown clojure.cooldown/f
         :skill/cost clojure.cost/f
         :maxrange clojure.maxrange/f
         }
 :k-order [
           :property/pretty-name
           :skill/action-time-modifier-key
           :skill/action-time
           :skill/cooldown
           :skill/cost
           :skill/effects
           :entity/species
           :creature/level
           :entity/stats
           :entity/delete-after-duration
           :projectile/piercing?
           :entity/projectile-collision
           :maxrange
           :entity-effects
           ]
 :k->colors {
             :property/pretty-name "PRETTY_NAME"
             :stats/modifiers "CYAN"
             :maxrange "LIGHT_GRAY"
             :creature/level "GRAY"
             :projectile/piercing? "LIME"
             :skill/action-time-modifier-key "VIOLET"
             :skill/action-time "GOLD"
             :skill/cooldown "SKY"
             :skill/cost "CYAN"
             :entity/delete-after-duration "LIGHT_GRAY"
             :entity/faction "SLATE"
             :entity/fsm "YELLOW"
             :entity/species "LIGHT_GRAY"
             :entity/temp-modifier "LIGHT_GRAY"
             }
 }
