{
 :entity/animation ctx.entity.create.animation/f
 :entity/body ctx.entity.create.body/f
 :entity/delete-after-duration ctx.entity.create.delete-after-duration/f
 :entity/projectile-collision ctx.entity.create.projectile-collision/f
 :entity/stats ctx.entity.create.stats/f
 }
