{
 :s/animation         clojure.malli-form-animation/f
 :s/boolean           clojure.malli-form-boolean/f
 :s/enum              clojure.malli-form-enum/f
 :s/image             clojure.malli-form-image/f
 :s/map               clojure.malli-form-map/f
 :s/number            clojure.malli-form-number/f
 :s/one-to-many       clojure.malli-form-one-to-many/f
 :s/one-to-one        clojure.malli-form-one-to-one/f
 :s/qualified-keyword clojure.qualified-keyword/f
 :s/some              clojure.some/f
 :s/sound             clojure.malli-form-sound/f
 :s/string            clojure.malli-form-string/f
 :s/val-max           clojure.malli-form-val-max/f
 :s/vector            clojure.vector/f
 }
