{
 :entity/clickable clojure.clickable/f
 :player-item-on-cursor clojure.render-player-item-on-cursor/f
 :entity/animation clojure.render-animation/f
 :entity/image clojure.render-image/f
 :entity/line-render clojure.line-render/f
 :entity/mouseover? clojure.mouseover/f
 :entity/stats clojure.render-stats/f
 :entity/string-effect clojure.render-string-effect/f
 :entity/temp-modifier clojure.render-temp-modifier/f
 :active-skill clojure.render-active-skill/f
 :npc-sleeping clojure.render-npc-sleeping/f
 :stunned clojure.render-stunned/f
 }
