{
 :entity/clickable ctx.entity.render.clickable/f
 :player-item-on-cursor ctx.entity.render.player-item-on-cursor/f
 :entity/animation ctx.entity.render.animation/f
 :entity/image ctx.entity.render.image/f
 :entity/line-render ctx.entity.render.line-render/f
 :entity/mouseover? ctx.entity.render.mouseover/f
 :entity/stats ctx.entity.render.stats/f
 :entity/string-effect ctx.entity.render.string-effect/f
 :entity/temp-modifier ctx.entity.render.temp-modifier/f
 :active-skill ctx.entity.render.active-skill/f
 :npc-sleeping ctx.entity.render.npc-sleeping/f
 :stunned ctx.entity.render.stunned/f
 }
