{
 :player-item-on-cursor ctx.entity.state.exit.player-item-on-cursor/f
 :player-moving ctx.entity.state.exit.player-moving/f
 :npc-sleeping ctx.entity.state.exit.npc-sleeping/f
 :npc-moving ctx.entity.state.exit.npc-moving/f
 }
