{
 :player-item-on-cursor ctx.entity.state.enter.player-item-on-cursor/f
 :active-skill ctx.entity.state.enter.active-skill/f
 :npc-dead ctx.entity.state.enter.npc-dead/f
 :player-moving ctx.entity.state.enter.player-moving/f
 :player-dead ctx.entity.state.enter.player-dead/f
 :npc-moving ctx.entity.state.enter.npc-moving/f
 }
