{
 :entity/animation clojure.tick-animation/f
 :entity/alert-friendlies-after-duration clojure.alert-friendlies-after-duration/f
 :entity/string-effect clojure.tick-string-effect/f
 :entity/skills clojure.tick-skills/f
 :entity/temp-modifier clojure.tick-temp-modifier/f
 :entity/projectile-collision clojure.tick-projectile-collision/f
 :active-skill clojure.tick-active-skill/f
 :entity/delete-after-duration clojure.tick-delete-after-duration/f
 :stunned clojure.tick-stunned/f
 :npc-moving clojure.tick-npc-moving/f
 :npc-sleeping clojure.tick-npc-sleeping/f
 :npc-idle clojure.npc-idle/f
 :entity/movement clojure.movement/f
 }
