; this == application and not context
; app/.... ':levelgen-test/app'
; => should contain all keys from beginning ? ....
{
 :lwjgl-app-config {:title "Levelgen Test"
                    :windowed-mode {:width 1440 :height 900}
                    :foreground-fps 60}
 :initial-level-fn "config/world_fns/uf_caves.edn"
 :level-fns ["config/world_fns/vampire.edn"
             "config/world_fns/uf_caves.edn"
             "config/world_fns/modules.edn"]
 :ui-viewport-width 1440
 :ui-viewport-height 900
 :world-viewport-width 1440
 :world-viewport-height 900
 :tile-size 48
 :ui-skin-path "skin/uiskin.json"
 :textures-config {:folder "resources/"
                   :extensions #{"png" "bmp"}}
 :zoom-speed 0.1
 :camera-movement-speed 1
 }
