[
 (clojure.add-methods/f! clojure.malli-form/malli-form #edn/resource "config/k->malli_form.edn")
 (moon.application.use-glfw-async/f!)
 (moon.application.start/f!
  {:listener (moon.application.listener/f
              {:state-var levelgen-test.app/state
               :create-pipeline [
                                 (ctx.gdx-context/f)
                                 (map.assoc-create/f :ctx/db ctx.db/step)
                                 (map.assoc-create/f :ctx/textures ctx.textures/step)
                                 (map.assoc-create/f :ctx/sprite-batch ctx.batch/step)
                                 (map.assoc-create/f :ctx/skin ctx.skin/step)
                                 (levelgen-test.create/f!)
                                 ]
               :dispose! levelgen-test.dispose/f!
               :render-pipeline [(render.get-stage-ctx/step)
                                 (pipeline.do/step
                                  (render.clear-screen/step))
                                 (pipeline.do/step
                                  (levelgen-test.draw-tiled-map/f))
                                 (pipeline.do/step
                                  (levelgen-test.camera-zoom-controls/f))
                                 (pipeline.do/step
                                  (levelgen-test.camera-movement-controls/f))
                                 (render.update-draw-stage/step)]
               :resize! levelgen-test.resize/f!})
   :title "Levelgen Test"
   :windowed-mode {:width 1440 :height 900}
   :foreground-fps 60}
  )
 ]
