{
 :state-var clojure.application/state
 :create-pipeline [
                   (ctx.gdx-context/f)
                   (ctx.unorganised/step)
                   (clojure.assoc-create/f :ctx/batch ctx.batch/step)
                   (clojure.assoc-create/f :ctx/audio ctx.audio/step)
                   (clojure.assoc-create/f :ctx/shape-drawer-texture ctx.shape-drawer-texture/step)
                   (clojure.assoc-create/f :ctx/shape-drawer ctx.shape-drawer/step)
                   (clojure.assoc-create/f :ctx/skin ctx.skin/step)
                   (clojure.assoc-create/f :ctx/stage ctx.stage/step)
                   (clojure.do/step
                    (ctx.tooltip-manager-opts/step))
                   (clojure.do/step
                    (ctx.put-colors/step))
                   (clojure.assoc-create/f :ctx/cursors ctx.cursors/step)
                   (clojure.map-create/f :ctx/textures (ctx.textures/step
                                                {:folder "resources/"
                                                 :extensions #{"png" "bmp"}}))
                   (clojure.assoc-create/f :ctx/world-viewport ctx.world-viewport/step)
                   (clojure.assoc-create/f :ctx/default-font ctx.default-font/step)
                   (ctx.record/step)
                   (ctx.controls/step)
                   (clojure.assoc-create/f :ctx/colors ctx.colors/step)
                   (clojure.assoc-create/f :ctx/render-z-order ctx.render-z-order/step)
                   (clojure.assoc-create/f :ctx/max-speed ctx.max-speed/step)
                   (clojure.assoc-create/f :ctx/db ctx.db/step)
                   (clojure.do/step
                    (ctx.add-stage-actors/f! [(ctx.stage.dev-menu/create)
                                                 (ctx.stage.action-bar/create)
                                                 (ctx.stage.hp-mana-bar/create)
                                                 (ctx.stage.windows/create [ctx.stage.info-window/create
                                                                        ctx.stage.inventory-window/create])
                                                 (ctx.stage.player-state-draw/create)
                                                 (ctx.stage.player-message-actor/create)]))
                   (ctx.tiled-map/step #edn/resource
                                          ; "config/world_fns/modules.edn"
                                          "config/world_fns/vampire.edn"
                                          ; "config/world_fns/uf_caves.edn"
                                          )
                   (clojure.assoc-create/f :ctx/grid ctx.grid/step)
                   (clojure.assoc-create/f :ctx/content-grid ctx.content-grid/step)
                   [clojure.assoc-create/f :ctx/explored-tile-corners ctx.explored-tile-corners/step]
                   [clojure.assoc-create/f :ctx/raycaster ctx.raycaster/step]
                   (ctx.spawn-player/step)
                   (clojure.do/step
                    (ctx.spawn-enemies/step))
                   (clojure.core/dissoc :ctx/files)
                   ]
 :dispose! ctx.dispose/do!
 :render-pipeline [
                   [ctx.render.get-stage-ctx/step]
                   [ctx.render.validate/step]
                   [ctx.render.update-mouse-positions/step]
                   [ctx.render.update-mouseover-eid/step]
                   [ctx.render.check-debug-viewer/step]
                   [ctx.render.set-active-entities/step]
                   [ctx.render.set-camera-position/step]
                   [ctx.render.clear-screen/step]
                   [ctx.render.draw-tiled-map/step]
                   [ctx.render.draw-on-world-viewport/step [
                                                        #_(ctx.draw-on-world-viewport.draw-tile-grid/f)
                                                        (ctx.draw-on-world-viewport.draw-cell-debug/f)
                                                        (ctx.draw-on-world-viewport.draw-entities/do! [#{:entity/mouseover?
                                                                                                     :stunned
                                                                                                     :player-item-on-cursor}
                                                                                                   #{:entity/clickable
                                                                                                     :entity/animation
                                                                                                     :entity/image
                                                                                                     :entity/line-render}
                                                                                                   #{:npc-sleeping
                                                                                                     :entity/temp-modifier
                                                                                                     :entity/string-effect}
                                                                                                   #{:entity/stats
                                                                                                     :active-skill}]
                                                                                                  )
                                                        #_(moon.geom-test)
                                                        (ctx.draw-on-world-viewport.highlight-mouseover-tile/f)
                                                        ]]
                   (clojure.assoc-create/f :ctx/interaction-state ctx.render.assoc-interaction-state/create)
                   [ctx.render.set-cursor/step]
                   [ctx.render.handle-player-input/step]
                   (clojure.core/dissoc :ctx/interaction-state)
                   [ctx.render.assoc-paused/step]
                   [ctx.render.if-not-paused/step [
                                               ctx.render.if-not-paused.update-time/f
                                               ctx.render.if-not-paused.update-potential-fields/f
                                               ctx.render.if-not-paused.tick-entities/f
                                               ]]
                   [ctx.render.remove-destroyed-entities/step]
                   [ctx.render.window-camera-controls/step]
                   [ctx.render.update-draw-stage/step]
                   [ctx.render.validate/step]
                   ]
 :resize!  ctx.resize/do!
 }
