{
 :state-var game.app/state
 :create-pipeline [
                   (clojure.ctx.gdx-context/f)
                   (clojure.ctx.unorganised/step)
                   (clojure.map.assoc-create/f :ctx/batch clojure.ctx.batch/step)
                   (clojure.map.assoc-create/f :ctx/audio clojure.ctx.audio/step)
                   (clojure.map.assoc-create/f :ctx/shape-drawer-texture clojure.ctx.shape-drawer-texture/step)
                   (clojure.map.assoc-create/f :ctx/shape-drawer clojure.ctx.shape-drawer/step)
                   (clojure.map.assoc-create/f :ctx/skin clojure.ctx.skin/step)
                   (clojure.map.assoc-create/f :ctx/stage clojure.ctx.stage/step)
                   (clojure.pipeline.do/step
                    (clojure.ctx.tooltip-manager-opts/step))
                   (clojure.pipeline.do/step
                    (clojure.ctx.put-colors/step))
                   (clojure.map.assoc-create/f :ctx/cursors clojure.ctx.cursors/step)
                   (clojure.map.assoc-create/f :ctx/textures clojure.ctx.textures/step)
                   (clojure.map.assoc-create/f :ctx/world-viewport clojure.ctx.world-viewport/step)
                   (clojure.map.assoc-create/f :ctx/default-font clojure.ctx.default-font/step)
                   (clojure.ctx.record/step)
                   (clojure.ctx.controls/step)
                   (clojure.map.assoc-create/f :ctx/colors clojure.ctx.colors/step)
                   (clojure.map.assoc-create/f :ctx/render-z-order clojure.ctx.render-z-order/step)
                   (clojure.map.assoc-create/f :ctx/max-speed clojure.ctx.max-speed/step)
                   (clojure.map.assoc-create/f :ctx/db clojure.ctx.db/step)
                   (clojure.pipeline.do/step
                    (clojure.ctx.add-stage-actors/f! [(stage.dev-menu/create)
                                                 (stage.action-bar/create)
                                                 (stage.hp-mana-bar/create)
                                                 (stage.windows/create [stage.info-window/create
                                                                        stage.inventory-window/create])
                                                 (stage.player-state-draw/create)
                                                 (stage.player-message-actor/create)]))
                   (clojure.ctx.tiled-map/step #edn/resource
                                          ; "config/world_fns/modules.edn"
                                          "config/world_fns/vampire.edn"
                                          ; "config/world_fns/uf_caves.edn"
                                          )
                   (clojure.map.assoc-create/f :ctx/grid clojure.ctx.grid/step)
                   (clojure.map.assoc-create/f :ctx/content-grid clojure.ctx.content-grid/step)
                   [clojure.map.assoc-create/f :ctx/explored-tile-corners clojure.ctx.explored-tile-corners/step]
                   [clojure.map.assoc-create/f :ctx/raycaster clojure.ctx.raycaster/step]
                   (clojure.ctx.spawn-player/step)
                   (clojure.pipeline.do/step
                    (clojure.ctx.spawn-enemies/step))
                   (clojure.core/dissoc :ctx/files)
                   ]
 :dispose! game.ctx.dispose/do!
 :render-pipeline [
                   [render.get-stage-ctx/step]
                   [render.validate/step]
                   [render.update-mouse-positions/step]
                   [render.update-mouseover-eid/step]
                   [render.check-debug-viewer/step]
                   [render.set-active-entities/step]
                   [render.set-camera-position/step]
                   [render.clear-screen/step]
                   [render.draw-tiled-map/step]
                   [render.draw-on-world-viewport/step [
                                                        #_(draw-on-world-viewport.draw-tile-grid/f)
                                                        (draw-on-world-viewport.draw-cell-debug/f)
                                                        (draw-on-world-viewport.draw-entities/do! [#{:entity/mouseover?
                                                                                                     :stunned
                                                                                                     :player-item-on-cursor}
                                                                                                   #{:entity/clickable
                                                                                                     :entity/animation
                                                                                                     :entity/image
                                                                                                     :entity/line-render}
                                                                                                   #{:npc-sleeping
                                                                                                     :entity/temp-modifier
                                                                                                     :entity/string-effect}
                                                                                                   #{:entity/stats
                                                                                                     :active-skill}]
                                                                                                  )
                                                        #_(moon.geom-test)
                                                        (draw-on-world-viewport.highlight-mouseover-tile/f)
                                                        ]]
                   (clojure.map.assoc-create/f :ctx/interaction-state render.assoc-interaction-state/create)
                   [render.set-cursor/step]
                   [render.handle-player-input/step]
                   (clojure.core/dissoc :ctx/interaction-state)
                   [render.assoc-paused/step]
                   [render.if-not-paused/step [
                                               render.if-not-paused.update-time/f
                                               render.if-not-paused.update-potential-fields/f
                                               render.if-not-paused.tick-entities/f
                                               ]]
                   [render.remove-destroyed-entities/step]
                   [render.window-camera-controls/step]
                   [render.update-draw-stage/step]
                   [render.validate/step]
                   ]
 :resize!  game.ctx.resize/do!
 }
