{
 :state-var clojure.application/state
 :create-pipeline [
                   (clojure.gdx-context/f)
                   (clojure.unorganised/step)
                   (clojure.assoc-create/f :ctx/batch clojure.ctx-batch/step)
                   (clojure.assoc-create/f :ctx/audio clojure.ctx-audio/step)
                   (clojure.assoc-create/f :ctx/shape-drawer-texture clojure.shape-drawer-texture/step)
                   (clojure.assoc-create/f :ctx/shape-drawer clojure.ctx-shape-drawer/step)
                   (clojure.assoc-create/f :ctx/skin clojure.ctx-skin/step)
                   (clojure.assoc-create/f :ctx/stage clojure.ctx-stage/step)
                   (clojure.do/step
                    (clojure.tooltip-manager-opts/step))
                   (clojure.do/step
                    (clojure.put-colors/step))
                   (clojure.assoc-create/f :ctx/cursors clojure.cursors/step)
                   (clojure.map-create/f :ctx/textures (clojure.ctx-textures/step
                                                {:folder "resources/"
                                                 :extensions #{"png" "bmp"}}))
                   (clojure.assoc-create/f :ctx/world-viewport clojure.world-viewport/step)
                   (clojure.assoc-create/f :ctx/default-font clojure.default-font/step)
                   (clojure.record/step)
                   (clojure.controls/step)
                   (clojure.assoc-create/f :ctx/colors clojure.ctx-colors/step)
                   (clojure.assoc-create/f :ctx/render-z-order clojure.render-z-order/step)
                   (clojure.assoc-create/f :ctx/max-speed clojure.max-speed/step)
                   (clojure.assoc-create/f :ctx/db clojure.ctx-db/step)
                   (clojure.do/step
                    (clojure.add-stage-actors/f! [(clojure.stage-dev-menu/create)
                                                 (clojure.action-bar/create)
                                                 (clojure.hp-mana-bar/create)
                                                 (clojure.windows/create [clojure.stage-info-window/create
                                                                        clojure.inventory-window/create])
                                                 (clojure.player-state-draw/create)
                                                 (clojure.player-message-actor/create)]))
                   (clojure.ctx-tiled-map/step #edn/resource
                                          ; "config/world_fns/modules.edn"
                                          "config/world_fns/vampire.edn"
                                          ; "config/world_fns/uf_caves.edn"
                                          )
                   (clojure.assoc-create/f :ctx/grid clojure.ctx-grid/step)
                   (clojure.assoc-create/f :ctx/content-grid clojure.content-grid/step)
                   [clojure.assoc-create/f :ctx/explored-tile-corners clojure.explored-tile-corners/step]
                   [clojure.assoc-create/f :ctx/raycaster clojure.raycaster/step]
                   (clojure.spawn-player/step)
                   (clojure.do/step
                    (clojure.spawn-enemies/step))
                   (clojure.core/dissoc :ctx/files)
                   ]
 :dispose! clojure.ctx-dispose/do!
 :render-pipeline [
                   [clojure.get-stage-ctx/step]
                   [clojure.render-validate/step]
                   [clojure.update-mouse-positions/step]
                   [clojure.update-mouseover-eid/step]
                   [clojure.check-debug-viewer/step]
                   [clojure.set-active-entities/step]
                   [clojure.set-camera-position/step]
                   [clojure.clear-screen/step]
                   [clojure.render-draw-tiled-map/step]
                   [clojure.draw-on-world-viewport/step [
                                                        #_(clojure.draw-tile-grid/f)
                                                        (clojure.draw-cell-debug/f)
                                                        (clojure.draw-entities/do! [#{:entity/mouseover?
                                                                                                     :stunned
                                                                                                     :player-item-on-cursor}
                                                                                                   #{:entity/clickable
                                                                                                     :entity/animation
                                                                                                     :entity/image
                                                                                                     :entity/line-render}
                                                                                                   #{:npc-sleeping
                                                                                                     :entity/temp-modifier
                                                                                                     :entity/string-effect}
                                                                                                   #{:entity/stats
                                                                                                     :active-skill}]
                                                                                                  )
                                                        #_(moon.geom-test)
                                                        (clojure.highlight-mouseover-tile/f)
                                                        ]]
                   (clojure.assoc-create/f :ctx/interaction-state clojure.assoc-interaction-state/create)
                   [clojure.set-cursor/step]
                   [clojure.handle-player-input/step]
                   (clojure.core/dissoc :ctx/interaction-state)
                   [clojure.assoc-paused/step]
                   [clojure.if-not-paused/step [
                                               clojure.update-time/f
                                               clojure.if-not-paused-update-potential-fields/f
                                               clojure.tick-entities/f
                                               ]]
                   [clojure.remove-destroyed-entities/step]
                   [clojure.window-camera-controls/step]
                   [clojure.update-draw-stage/step]
                   [clojure.render-validate/step]
                   ]
 :resize!  clojure.ctx-resize/do!
 }
