[
 schema.malli-form

 entity.load

 entity.create.animation
 entity.create.body

 entity.tick.animation
 entity.tick.alert-friendlies-after-duration
 entity.tick.string-effect
 entity.tick.skills
 entity.tick.temp-modifier
 entity.tick.projectile-collision
 entity.tick.active-skill
 entity.tick.delete-after-duration
 entity.tick.stunned
 entity.tick.npc-moving
 entity.tick.npc-sleeping
 entity.tick.npc-idle
 entity.tick.movement

 entity.render.clickable
 entity.render.player-item-on-cursor
 entity.render.animation
 entity.render.image
 entity.render.line-render
 entity.render.mouseover
 entity.render.stats
 entity.render.string-effect
 entity.render.temp-modifier
 entity.render.active-skill
 entity.render.npc-sleeping
 entity.render.stunned

 entity.state.load

 entity.state.create.active-skill
 entity.state.create.stunned
 entity.state.create.player-moving
 entity.state.create.npc-moving
 entity.state.create.player-item-on-cursor

 entity.state.enter.player-item-on-cursor
 entity.state.enter.active-skill
 entity.state.enter.npc-dead
 entity.state.enter.player-moving
 entity.state.enter.player-dead
 entity.state.enter.npc-moving

 entity.state.exit.player-item-on-cursor

 entity.state.draw-ui-view.player-item-on-cursor
 entity.state.cursor.player-idle

 entity.state.clicked-inventory-cell.player-item-on-cursor

 effect.load

 effect.target.damage

 effect.target-all
 effect.target-entity

 handle-input.player-idle
 handle-input.player-moving
 handle-input.player-item-on-cursor

 tx.load
 draw.load
 ]
