[
 ; TODO use simple function maps

 schema.malli-form ;  confusing malli/schema=forms .... self referencing ?

 entity.state.load

 entity.state.create.active-skill
 entity.state.create.stunned
 entity.state.create.player-moving
 entity.state.create.npc-moving
 entity.state.create.player-item-on-cursor

 entity.state.enter.player-item-on-cursor
 entity.state.enter.active-skill
 entity.state.enter.npc-dead
 entity.state.enter.player-moving
 entity.state.enter.player-dead
 entity.state.enter.npc-moving

 entity.state.draw-ui-view.player-item-on-cursor

 entity.state.clicked-inventory-cell.player-item-on-cursor

 effect.load

 effect.target.damage

 effect.target-all
 effect.target-entity

 draw.load ; draws need to use 'actions!' and recursively do things? works with set line width?
 ]
