{
 :property/id [:s/qualified-keyword],

 :image/file [:s/string]
 :image/bounds [:s/vector {:size 4} nat-int?]
 :entity/image [:s/image],

 :animation/frames [:s/some]
 :animation/frame-duration [:s/number :pos]
 :animation/looping? [:s/boolean]
 :entity/animation [:s/animation],

 :tx/sound [:s/sound],

 :properties/audiovisuals [:s/map [:property/id
                                   :tx/sound
                                   :entity/animation]],

 :property/pretty-name [:s/string],
 :entity/species [:s/qualified-keyword {:namespace :species}],
 :creature/level [:s/number :pos-int],

 :body/width [:s/number :pos],
 :body/height [:s/number :pos],
 :body/flying? [:s/boolean],

 :entity/body [:s/map [:body/width
                       :body/height
                       :body/flying?]],

 :stats/hp             [:s/number :pos-int],
 :stats/movement-speed [:s/number :pos],
 :stats/aggro-range    [:s/number :nat-int],
 :stats/reaction-time  [:s/number :pos-int],
 :stats/mana           [:s/number :nat-int],
 :stats/strength       [:s/number :nat-int],
 :stats/cast-speed     [:s/number :pos],
 :stats/attack-speed   [:s/number :pos],
 :stats/armor-save     [:s/number :any],
 :stats/armor-pierce   [:s/number :any],

 :stats/modifiers [:s/map [[:modifier/armor-pierce       {:optional true}]
                            [:modifier/armor-save         {:optional true}]
                            [:modifier/attack-speed       {:optional true}]
                            [:modifier/cast-speed         {:optional true}]
                            [:modifier/damage-deal-min    {:optional true}]
                            [:modifier/damage-deal-max    {:optional true}]
                            [:modifier/damage-receive-max {:optional true}]
                            [:modifier/movement-speed     {:optional true}]
                            [:modifier/strength           {:optional true}]
                            [:modifier/hp-max             {:optional true}]
                            [:modifier/mana-max           {:optional true}]]],

 :op/inc  [:s/number :int],
 :op/mult [:s/number :int],

 :modifier/armor-pierce       [:s/map [[:op/inc {:optinal true}]]],
 :modifier/armor-save         [:s/map [[:op/inc {:optional true}]]],
 :modifier/attack-speed       [:s/map [[:op/inc {:optional true}]]],
 :modifier/cast-speed         [:s/map [[:op/inc {:optional true}]]],
 :modifier/damage-deal-min    [:s/map [[:op/inc {:optional true}]
                                       [:op/mult {:optional true}]]]
 :modifier/damage-deal-max    [:s/map [[:op/inc {:optional true}]
                                       [:op/mult {:optional true}]]]
 :modifier/damage-receive-max [:s/map [[:op/inc {:optional true}]
                                       [:op/mult {:optional true}]]],
 :modifier/movement-speed     [:s/map [[:op/inc {:optional true}]
                                       [:op/mult {:optional true}]]],
 :modifier/strength           [:s/map [[:op/inc {:optional true}]]],
 :modifier/hp-max             [:s/map [[:op/inc {:optional true}]
                                       [:op/mult {:optional true}]]],
 :modifier/mana-max           [:s/map [[:op/inc {:optional true}]
                                       [:op/mult {:optional true}]]],

 :entity/stats [:s/map [[:stats/modifiers    {:optional true}]
                        :stats/hp
                        :stats/mana
                        :stats/movement-speed
                        :stats/aggro-range
                        :stats/reaction-time
                        [:stats/strength     {:optional true}]
                        [:stats/cast-speed   {:optional true}]
                        [:stats/attack-speed {:optional true}]
                        [:stats/armor-save   {:optional true}]
                        [:stats/armor-pierce {:optional true}]]]

 :entity/inventory [:s/one-to-many :properties/items],
 :entity/skills    [:s/one-to-many :properties/skills],

 :properties/creatures [:s/map [:property/id
                                :property/pretty-name
                                :entity/species
                                :creature/level
                                :entity/body
                                :entity/animation
                                :entity/skills
                                [:entity/inventory    {:optional true}]
                                :entity/stats
                                ]],

 :item/slot [:s/enum
             :inventory.slot/cloak
             :inventory.slot/chest
             :inventory.slot/helm
             :inventory.slot/necklace
             :inventory.slot/glove
             :inventory.slot/rings
             :inventory.slot/bag
             :inventory.slot/leg
             :inventory.slot/shield
             :inventory.slot/weapon
             :inventory.slot/boot],

 :properties/items [:s/map [:property/id
                            :property/pretty-name
                            :entity/image
                            :item/slot
                            [:stats/modifiers {:optional true}]]],

 :projectile/max-range [:s/number :pos-int],
 :projectile/speed [:s/number :pos-int],
 :projectile/piercing? [:s/boolean],
 :projectile/size [:s/number :any]
 :entity-effects [:s/map [
                          [:effects.target/audiovisual  {:optional true}]
                          [:effects.target/convert      {:optional true}]
                          [:effects.target/damage       {:optional true}]
                          [:effects.target/kill         {:optional true}]
                          [:effects.target/melee-damage {:optional true}]
                          [:effects.target/spiderweb    {:optional true}]
                          [:effects.target/stun         {:optional true}]
                          ]],

 :properties/projectiles [:s/map [:property/id
                                  :entity/image
                                  :projectile/max-range
                                  :projectile/speed
                                  :projectile/piercing?
                                  :projectile/size
                                  :entity-effects]],

 :skill/action-time-modifier-key [:s/enum :stats/cast-speed :stats/attack-speed],
 :skill/action-time [:s/number :pos],
 :skill/start-action-sound [:s/sound],
 :skill/effects [:s/map [
                         [:effects/audiovisual   {:optional true}]
                         [:effects/projectile    {:optional true}]
                         [:effects/spawn         {:optional true}]
                         [:effects/target-entity {:optional true}],
                         [:effects/target-all    {:optional true}]
                         ]],
 :skill/cooldown [:s/number :nat-int],
 :skill/cost [:s/number :nat-int],

 :properties/skills [:s/map [:property/id
                             :property/pretty-name
                             :entity/image
                             :skill/action-time-modifier-key
                             :skill/action-time
                             :skill/start-action-sound
                             :skill/effects
                             :skill/cooldown
                             :skill/cost]],

 :damage/min-max [:s/val-max],
 :effects.target/damage [:s/map [:damage/min-max]],

 :effects/audiovisual [:s/one-to-one :properties/audiovisuals]
 :effects/projectile [:s/one-to-one :properties/projectiles],
 :effects/spawn      [:s/one-to-one :properties/creatures],

 :maxrange [:s/number :pos],
 :effects/target-entity [:s/map [:entity-effects
                                 :maxrange]],

 :effects/target-all [:s/map [:entity-effects]],

 :effects.target/audiovisual [:s/one-to-one :properties/audiovisuals]
 :effects.target/convert [:s/some],
 :effects.target/kill [:s/some],
 :effects.target/melee-damage [:s/some],
 :effects.target/spiderweb [:s/some],
 :effects.target/stun [:s/number :pos],
 }
