["bfxr_armorhit" "bfxr_coinget" "fanfare10" "bfxr_bossdeath" "bfxr_playerdeath" "bfxr_healmonsters" "bfxr_drugsuse" "slash" "pickup" "bfxr_instanthealer_heal" "bfxr_playerhit" "bfxr_cast" "bfxr_projectile_wallhit" "bfxr_caveenter" "bfxr_rayshooterhit" "bfxr_denied" "bfxr_click" "bfxr_takeit" "bfxr_pickup" "bfxr_dronedeath" "bfxr_merchanttalk" "bfxr_itemput" "bfxr_teleport" "bfxr_defaultmonsterdeath" "bfxr_itemputground" "bfxr_stationdeath" "bfxr_curse" "shoot" "ReversyH-Nick_Ros-105" "bfxr_shield_consume" "bfxr_normalhit" "bfxr_portaluse" "bfxr_fisthit" "bfxr_potionuse" "bfxr_unburrow" "bfxr_monkheal" "explode-erco" "bfxr_psibolt" "bfxr_minedeath" "bfxr_questget" "bfxr_grenade" "kabloom" "bfxr_bigmeleeteleport" "bfxr_playerteleport" "bfxr_powerup" "bfxr_chestopen" "bfxr_waypointunlock" "bfxr_burrow" "bfxr_monstercast"]
