[
 (clojure.add-methods/f! clojure.create-value/create-value
                         {
                          :default       clojure.create-value-default/f

                          :s/map         clojure.create-value-map/f
                          :s/one-to-many clojure.create-value-one-to-many/f
                          :s/one-to-one  clojure.create-value-one-to-one/f
                          }
                         )
 (clojure.add-methods/f! clojure.create-entity-state/f
                         {
                          :default               clojure.create-default/f

                          :active-skill          clojure.create-active-skill/f
                          :stunned               clojure.create-stunned/f
                          :player-moving         clojure.create-player-moving/f
                          :npc-moving            clojure.create-npc-moving/f
                          :player-item-on-cursor clojure.create-player-item-on-cursor/f
                          }
                         )
 (clojure.add-methods/f! clojure.entity-state-draw-ui-view/f
                         {
                          :default               clojure.draw-ui-view-default/f

                          :player-item-on-cursor clojure.draw-ui-view-player-item-on-cursor/f
                          }
                         )
 (clojure.add-methods/f! clojure.is-applicable/f
                         {
                          :effects/audiovisual   clojure.effects-applicable-audiovisual/f
                          :effects/projectile    clojure.applicable-projectile/f
                          :effects/spawn         clojure.applicable-spawn/f
                          :effects/target-all    clojure.applicable-target-all/f
                          :effects/target-entity clojure.applicable-target-entity/f

                          :effects.target/audiovisual  clojure.effects-target-applicable-audiovisual/f
                          :effects.target/convert      clojure.applicable-convert/f
                          :effects.target/damage       clojure.applicable-damage/f
                          :effects.target/kill         clojure.applicable-kill/f
                          :effects.target/melee-damage clojure.applicable-melee-damage/f
                          :effects.target/spiderweb    clojure.applicable-spiderweb/f
                          :effects.target/stun         clojure.applicable-stun/f
                          }
                         )
 (clojure.add-methods/f! clojure.is-useful/f
                         {
                          :default               clojure.useful-default/f

                          :effects/audiovisual   clojure.effects-useful-audiovisual/f
                          :effects/projectile    clojure.useful-projectile/f
                          :effects/target-all    clojure.useful-target-all/f
                          :effects/target-entity clojure.useful-target-entity/f

                          :effects.target/audiovisual clojure.effects-target-useful-audiovisual/f
                          }
                         )
 (clojure.add-methods/f! clojure.handle/f
                         {
                          :effects/audiovisual   clojure.effects-handle-audiovisual/f
                          :effects/projectile    clojure.handle-projectile/f
                          :effects/spawn         clojure.handle-spawn/f
                          :effects/target-all    clojure.handle-target-all/f
                          :effects/target-entity clojure.handle-target-entity/f

                          :effects.target/audiovisual  clojure.effects-target-handle-audiovisual/f
                          :effects.target/convert      clojure.handle-convert/f
                          :effects.target/damage       clojure.handle-damage/f
                          :effects.target/kill         clojure.handle-kill/f
                          :effects.target/melee-damage clojure.handle-melee-damage/f
                          :effects.target/spiderweb    clojure.handle-spiderweb/f
                          :effects.target/stun         clojure.handle-stun/f
                          }
                         )
 (clojure.add-methods/f! clojure.effect-render/f
                         {
                          :default               clojure.render-default/f

                          :effects/target-all    clojure.render-target-all/f
                          :effects/target-entity clojure.render-target-entity/f
                          }
                         )
 (clojure.use-glfw-async/f)
 (clojure.gdx-application/f!
  {:listener (clojure.listener/f #edn/resource "config/listener.edn")
   :title "Moon"
   :windowed-mode {:width 1440
                   :height 900}
   :foreground-fps 60})]
