; TODO tx-core/* ?
; just (def txs-fn-map (edn-resource "config/txs-fn-map.edn"))
; possible?
{
 :tx/state-exit               tx.state-exit/do!
 :tx/audiovisual              tx.audiovisual/do!
 :tx/assoc                    tx.assoc/f
 :tx/assoc-in                 tx.assoc-in/f
 :tx/dissoc                   tx.dissoc/f
 :tx/update                   tx.update/f
 :tx/mark-destroyed           tx.mark-destroyed/f
 :tx/set-cooldown             tx.set-cooldown/do!
 :tx/add-text-effect          tx.add-text-effect/do!
 :tx/add-skill                tx.add-skill/do!
 :tx/set-item                 tx.set-item/do!
 :tx/remove-item              tx.remove-item/do!
 :tx/pickup-item              tx.pickup-item/do!
 :tx/event                    tx.event/do!
 :tx/unregister-eid           tx.unregister-eid/do!
 :tx/state-enter              tx.state-enter/do!
 :tx/effect                   tx.effect/do!
 :tx/spawn-alert              tx.spawn-alert/do!
 :tx/spawn-line               tx.spawn-line/do!
 :tx/move-entity              tx.move-entity/do!
 :tx/spawn-projectile         tx.spawn-projectile/do!
 :tx/spawn-effect             tx.spawn-effect/do!
 :tx/spawn-item               tx.spawn-item/do!
 :tx/spawn-creature           tx.spawn-creature/do!
 :tx/spawn-entity             tx.spawn-entity/do!
 :tx/sound                    tx.sound/f
 :tx/toggle-inventory-visible tx.toggle-inventory-visible/f
 :tx/ui-update-skill          tx.ui-update-skill/f
 :tx/show-message             tx.show-message/f
 :tx/show-modal               tx.show-modal/f
 }
