[
 [:ui/group clojure.gdx.scene2d.group/create]
 [:ui/check-box clojure.gdx.scene2d.ui.check-box/create]
 [:ui/horizontal-group clojure.gdx.scene2d.ui.horizontal-group/create]
 [:ui/label clojure.gdx.scene2d.ui.label/create]
 [:ui/image clojure.gdx.scene2d.ui.image/create]
 [:ui/image-button clojure.gdx.scene2d.ui.image-button/create]
 [:ui/select-box clojure.gdx.scene2d.ui.select-box/create]
 [:ui/scroll-pane clojure.gdx.scene2d.ui.scroll-pane/create]
 [:ui/stack clojure.gdx.scene2d.ui.stack/create]
 [:ui/table clojure.gdx.scene2d.ui.table/create]
 [:ui/text-button clojure.gdx.scene2d.ui.text-button/create]
 [:ui/text-field clojure.gdx.scene2d.ui.text-field/create]
 [:ui/widget clojure.gdx.scene2d.ui.widget/create]
 [:ui/window clojure.gdx.scene2d.ui.window/create]
 [:ui/data-viewer-window       clojure.gdx.scene2d.ui.data-viewer-window/create]
 [:ui/error-window             clojure.gdx.scene2d.ui.error-window/create]
 [:ui/property-editor-window   moon.ui.property-editor-window/create]
 [:ui/property-overview-window moon.ui.property-overview-window/create]
 ]
