[[clojure.core/require cdq.ui.build.editor-window]
 [clojure.core/require cdq.ui.dev-menu]
 [clojure.core/require cdq.ui.editor.overview-window]
 [clojure.core/require cdq.ui.editor.window]
 [clojure.core/require cdq.entity.state-impl]
 [moon.backends.lwjgl.application.config/use-glfw-async!]
 [cdq.application/start!
  {
   :title "Cyber Dungeon Quest"
   :window {:width 1440
            :height 900}
   :fps 60
   :create! [[cdq.create.record/step]
             [cdq.create.graphics/step {:impl cdq.graphics.impl/create!
                                        :config #edn/resource "graphics.edn"}]
             [cdq.create.ui/step {:impl cdq.ui.impl/create!
                                  :config {:dev-menu cdq.game.create.dev-menu-config/create}}]
             [cdq.create.skin/step]
             [cdq.create.audio/step {:impl cdq.audio/create
                                     :config #edn/resource "audio.edn"}]
             [cdq.create.db/step cdq.db.impl/create]
             [cdq.create.input/step]
             [cdq.create.config/step {:world-impl cdq.world.impl/create}]
             [cdq.game.create.add-actors/step]
             [cdq.game.create.world/step #edn/resource "world.edn"]]
   :dispose! cdq.tx.dispose/do!
   :render!  [cdq.game.render.get-stage-ctx/step
              cdq.game.render.validate/step
              cdq.game.render.update-mouse/step
              cdq.game.render.update-mouseover-eid/step
              cdq.game.render.check-open-debug/step
              cdq.game.render.assoc-active-entities/step
              cdq.game.render.set-camera-on-player/step
              cdq.game.render.clear-screen/step
              cdq.game.render.draw-world-map/step
              cdq.game.render.draw-on-world-viewport/step
              cdq.game.render.assoc-interaction-state/step
              cdq.game.render.set-cursor/step
              cdq.game.render.player-state-handle-input/step
              cdq.game.render.dissoc-interaction-state/step
              cdq.game.render.assoc-paused/step
              cdq.game.render.update-world-time/step
              cdq.game.render.update-potential-fields/step
              cdq.game.render.tick-entities/step
              cdq.game.render.remove-destroyed-entities/step
              cdq.game.render.window-camera-controls/step
              cdq.game.render.render-stage/step
              cdq.game.render.validate/step]
   :resize!  cdq.tx.update-viewports/do!
   }]]
