[
 [moon.create.ui-viewport/step {:width 1440
                                :height 900}]
 [moon.create.stage/step]
 [moon.create.set-input-processor/step]
 [moon.create.skin/step "uiskin.json"]
 [moon.create.cursors/step #edn/resource "cursors.edn"]
 [moon.create.textures/step]
 [moon.create.world-unit-scale/step 48]
 [moon.create.world-viewport/step {:width 1440
                                   :height 900}]
 [moon.create.default-font/step {
                                 :path "exocet/films.EXL_____.ttf"
                                 :params {:size 16
                                          :quality-scaling 2
                                          :enable-markup? true
                                          :use-integer-positions? false
                                          ; :texture-filter/linear because scaling to world-units
                                          :min-filter :linear
                                          :mag-filter :linear}
                                 }]
 [moon.create.controls/step]
 [moon.create.colors/step]
 [moon.create.plain-assoc/step]
 [moon.create.db/step {:schemas "schema.edn"
                       :properties "properties.edn"}]
 [moon.create.record/step]
 [moon.create.add-stage-actors/step [[moon.ui-actors.dev-menu/create {:update-labels [moon.dev-menu.update-labels.elapsed-time/item
                                                                                      moon.dev-menu.update-labels.fps/item
                                                                                      moon.dev-menu.update-labels.mouseover-entity/item
                                                                                      moon.dev-menu.update-labels.paused/item
                                                                                      moon.dev-menu.update-labels.ui-mouse-position/item
                                                                                      moon.dev-menu.update-labels.world-mouse-position/item
                                                                                      moon.dev-menu.update-labels.zoom/item]
                                                                      :menus [moon.dev-menu.menus.ctx-data-viewer/create
                                                                              moon.dev-menu.menus.open-editor/create
                                                                              moon.dev-menu.menus.help/create
                                                                              moon.dev-menu.menus.select-world/create]}]
                                     [moon.ui-actors.action-bar/create]
                                     [moon.ui-actors.hp-mana-bar/create]
                                     [moon.ui-actors.windows/create [[moon.ui-actors.windows.info/create]
                                                                     [moon.ui-actors.windows.inventory/create]]]
                                     [moon.ui-actors.player-state-draw/create]
                                     [moon.ui-actors.player-message/create]]]
 [moon.create.tiled-map-and-start-position/step
  #edn/resource
  ; "world_fns/vampire.edn"
  ; "world_fns/uf_caves.edn"
  "world_fns/modules.edn"
  ]
 [moon.create.render-z-order/step]
 [moon.create.max-speed/step]
 [moon.create.grid/step]
 [moon.create.content-grid/step 16]
 [moon.create.explored-tile-corners/step]
 [moon.create.raycaster/step]
 [moon.create.potential-field-cache/step]
 [moon.create.id-counter/step]
 [moon.create.entity-ids/step]
 [moon.create.spawn-player-entity/step {:creature-id :creatures/vampire
                                        :components {:entity/fsm {:fsm :fsms/player
                                                                  :initial-state :player-idle}
                                                     :entity/faction :good
                                                     :entity/player? true
                                                     :entity/free-skill-points 3
                                                     :entity/clickable {:type :clickable/player}
                                                     :entity/click-distance-tiles 1.5}}]
 [moon.create.spawn-enemies/step {:entity/fsm {:fsm :fsms/npc
                                               :initial-state :npc-sleeping}
                                  :entity/faction :evil}]
 ]
