[
 [moon.create.assoc/step :ctx/app moon.impl.app/create]
 [moon.create.do/step [com.badlogic.gdx.scenes.scene2d.ui.tooltip-manager/set-initial-time! 0]]
 [moon.create.record/step]
 [moon.create.impl-txs/step]
 [moon.create.impl-draws/step]
 [moon.create.assoc/step :ctx/batch moon.impl.batch/create]
 [moon.create.assoc/step :ctx/shape-drawer-texture moon.impl.white-pixel-texture/create]
 [moon.create.assoc/step :ctx/shape-drawer moon.impl.shape-drawer/create]
 [moon.create.assoc/step :ctx/audio moon.impl.audio/create]
 [moon.create.assoc/step :ctx/default-font moon.impl.default-font/create]
 [moon.create.assoc/step :ctx/textures moon.impl.textures/create]
 [moon.create.assoc/step :ctx/world-unit-scale moon.impl.world-unit-scale/create]
 [moon.create.assoc/step :ctx/world-viewport moon.impl.world-viewport/create
  {:viewport com.badlogic.gdx.utils.viewport.fit-viewport/create
   :camera   clojure.gdx.graphics.orthographic-camera/create}]
 [moon.create.assoc/step :ctx/cursors moon.impl.cursors/create]
 [moon.create.assoc/step :ctx/stage moon.impl.stage/create]
 [moon.create.set-input-processor/step]
 [moon.create.assoc/step :ctx/skin moon.impl.skin/create]
 [moon.create.unorganised/step]
 [moon.create.controls/step]
 [moon.create.ctx-colors/step]
 [moon.create.render-z-order/step]
 [moon.create.max-speed/step]
 [moon.create.assoc/step :ctx/db moon.impl.db/create]
 [moon.create.add-stage-actors/step [[moon.create.add-stage-actors.dev-menu/create]
                                     [moon.create.add-stage-actors.action-bar/create]
                                     [moon.create.add-stage-actors.hp-mana-bar/create]
                                     [moon.create.add-stage-actors.windows/create [moon.create.add-stage-actors.windows.info/create
                                                                                   moon.create.add-stage-actors.windows.inventory/create]]
                                     [moon.create.add-stage-actors.player-state-draw/create]
                                     [moon.create.add-stage-actors.player-message/create]]]
 [moon.create.tiled-map/step]
 [moon.create.assoc/step :ctx/grid moon.impl.grid/create]
 [moon.create.assoc/step :ctx/content-grid moon.impl.content-grid/create]
 [moon.create.assoc/step :ctx/explored-tile-corners moon.impl.explored-tile-corners/create]
 [moon.create.assoc/step :ctx/raycaster moon.impl.raycaster/create]
 [moon.create.spawn-player/step]
 [moon.create.spawn-enemies/step]
 ]
