[
 [moon.create.impl-handle/step {:txs-fn-map #edn/resource "txs-fn-map.edn"
                                :reaction-txs-fn-map #edn/resource "reaction-txs-fn-map.edn"}]
 [moon.create.impl-draw/step #edn/resource "draw-fns.edn"]
 [moon.create.game-colors/step]
 [moon.create.get-gdx-state/step] ; TODO pass at listener create
 [moon.create.colors/step {"PRETTY_NAME" [0.84 0.8 0.52 1]}]
 [moon.create.cursors/do! {:path-format "cursors/%s.png"
                           :data {:cursors/bag                   ["bag001"       [0   0]]
                                  :cursors/black-x               ["black_x"      [0   0]]
                                  :cursors/default               ["default"      [0   0]]
                                  :cursors/denied                ["denied"       [16 16]]
                                  :cursors/hand-before-grab      ["hand004"      [4  16]]
                                  :cursors/hand-before-grab-gray ["hand004_gray" [4  16]]
                                  :cursors/hand-grab             ["hand003"      [4  16]]
                                  :cursors/move-window           ["move002"      [16 16]]
                                  :cursors/no-skill-selected     ["denied003"    [0   0]]
                                  :cursors/over-button           ["hand002"      [0   0]]
                                  :cursors/sandclock             ["sandclock"    [16 16]]
                                  :cursors/skill-not-usable      ["x007"         [0   0]]
                                  :cursors/use-skill             ["pointer004"   [0   0]]
                                  :cursors/walking               ["walking"      [16 16]]}}]
 [moon.create.db/step {:schemas "schema.edn"
                       :properties "properties.edn"}]
 [moon.create.ui-viewport/step {:width 1440
                                :height 900}]
 [moon.create.batch/do!]

 ;; ctx/stage ?
 [moon.create.stage/step]
 [moon.create.set-input-processor/step]

 [moon.create.skin/step "uiskin.json"]
 [moon.create.textures/step {:folder "resources/"
                             :extensions #{"png" "bmp"}}]
 [moon.create.shape-drawer-texture/step]
 [moon.create.world-unit-scale/step 48]
 [moon.create.world-viewport/step {:width 1440
                                   :height 900}]
 [moon.create.audio/do! {:sound-names "sounds.edn"
                         :path-format "sounds/%s.wav"}]
 [moon.create.default-font/do! {:path "exocet/films.EXL_____.ttf"
                                :params {:size 16
                                         :quality-scaling 2
                                         :enable-markup? true
                                         :use-integer-positions? false
                                         ; :texture-filter/linear because scaling to world-units
                                         :min-filter :linear
                                         :mag-filter :linear}}]
 [moon.create.shape-drawer/step]

 ;; ctx/stage
 [moon.create.add-stage-actors/step [[moon.ui-actors.dev-menu/create]
                                     [moon.ui-actors.action-bar/create]
                                     [moon.ui-actors.hp-mana-bar/create]
                                     ; eigentlich .windows not necessary
                                     ; it are functions taking 'ctx & params' and returning an subtype of 'Actor'
                                     [moon.ui-actors.windows/create [[moon.ui-actors.windows.info/create]
                                                                     [moon.ui-actors.windows.inventory/create]]]
                                     [moon.ui-actors.player-state-draw/create]
                                     [moon.ui-actors.player-message/create]]]

 [moon.create.tiled-map-and-start-position/step
  #edn/resource
  ; "world_fns/vampire.edn"
  ; "world_fns/uf_caves.edn"
  "world_fns/modules.edn"
  ]
 [moon.create.render-z-order/step]
 [moon.create.max-speed/step]
 [moon.create.grid/step]
 [moon.create.content-grid/step 16]
 [moon.create.explored-tile-corners/step]
 [moon.create.raycaster/step]
 [moon.create.potential-field-cache/step]
 [moon.create.id-counter/step]
 [moon.create.entity-ids/step]
 [moon.create.spawn-player-entity/step {:creature-id :creatures/vampire
                                        :components {:entity/fsm {:fsm :fsms/player
                                                                  :initial-state :player-idle}
                                                     :entity/faction :good
                                                     :entity/player? true
                                                     :entity/free-skill-points 3
                                                     :entity/clickable {:type :clickable/player}
                                                     :entity/click-distance-tiles 1.5}}]
 [moon.create.spawn-enemies/step {:entity/fsm {:fsm :fsms/npc
                                               :initial-state :npc-sleeping}
                                  :entity/faction :evil}]
 ;;

 [moon.create.add-leftout-keys/step]
 ]
