[
 [game.create.do/step [clojure.core-ext/require-namespaces! #edn/resource "requires.edn"]]
 [game.create.do/step [clojure.multifn/add-methods! gdl.scene2d.actor/create #edn/resource "actors.edn"]]
 [game.create.do/step [com.badlogic.gdx.graphics.colors/put! {"PRETTY_NAME" [0.84 0.8 0.52 1]}]]
 [game.create.do/step [com.badlogic.gdx.scenes.scene2d.ui.tooltip-manager/set-initial-time! 0]]
 [game.create.assoc/step :ctx/app game.impl.invoke/create com.badlogic.gdx.gdx/app]
 [game.create.record/step]
 [game.create.impl-txs/step]
 [game.create.impl-draws/step]
 [game.create.assoc/step :ctx/batch game.impl.invoke/create com.badlogic.gdx.gdx/sprite-batch]
 [game.create.assoc/step :ctx/shape-drawer-texture game.impl.white-pixel-texture/create]
 [game.create.assoc/step :ctx/shape-drawer game.impl.shape-drawer/create]
 [game.create.assoc/step :ctx/audio game.impl.audio/create]
 [game.create.assoc/step :ctx/default-font game.impl.default-font/create]
 [game.create.assoc/step :ctx/textures game.impl.textures/create]
 [game.create.assoc/step :ctx/world-unit-scale game.impl.world-unit-scale/create]
 [game.create.assoc/step :ctx/world-viewport game.impl.world-viewport/create
  {:viewport com.badlogic.gdx.utils.viewport.fit-viewport/create
   :camera   com.badlogic.gdx.graphics.orthographic-camera/create}]
 [game.create.assoc/step :ctx/cursors game.impl.cursors/create]
 [game.create.assoc/step :ctx/stage game.impl.stage/create com.badlogic.gdx.utils.viewport.fit-viewport/create]
 [game.create.set-input-processor/step]
 [game.create.assoc/step :ctx/skin game.impl.skin/create]
 [game.create.unorganised/step]
 [game.create.controls/step]
 [game.create.ctx-colors/step]
 [game.create.render-z-order/step]
 [game.create.max-speed/step]
 [game.create.assoc/step :ctx/db game.impl.db/create]
 [game.create.add-stage-actors/step [[game.create.add-stage-actors.dev-menu/create]
                                     [game.create.add-stage-actors.action-bar/create]
                                     [game.create.add-stage-actors.hp-mana-bar/create]
                                     [game.create.add-stage-actors.windows/create [game.create.add-stage-actors.windows.info/create
                                                                                   game.create.add-stage-actors.windows.inventory/create]]
                                     [game.create.add-stage-actors.player-state-draw/create]
                                     [game.create.add-stage-actors.player-message/create]]]
 [game.create.tiled-map/step]
 [game.create.assoc/step :ctx/grid game.impl.grid/create]
 [game.create.assoc/step :ctx/content-grid game.impl.content-grid/create]
 [game.create.assoc/step :ctx/explored-tile-corners game.impl.explored-tile-corners/create]
 [game.create.assoc/step :ctx/raycaster game.impl.raycaster/create]
 [game.create.spawn-player/step]
 [game.create.spawn-enemies/step]
 ]
