[
 game.dispose.audio/do!
 game.dispose.batch/do!
 game.dispose.cursors/do!
 game.dispose.default-font/do!
 game.dispose.shape-drawer-texture/do!
 game.dispose.skin/do!
 game.dispose.textures/do!
 game.dispose.tiled-map/do!
 ]
