[
 [moon.entity.animation :entity/animation]
 [moon.entity.delete-after-duration :entity/delete-after-duration]
 [moon.entity.destroy-audiovisual :entity/destroy-audiovisual]
 [moon.entity.inventory :entity/inventory]
 [moon.entity.fsm :entity/fsm]
 [moon.entity.projectile-collision :entity/projectile-collision]
 [moon.entity.skills :entity/skills]
 [moon.entity.stats :entity/stats]
 [moon.entity.movement :entity/movement]
 [moon.entity.string-effect :entity/string-effect]
 [moon.entity.temp-modifier :entity/temp-modifier]
 [moon.entity.clickable :entity/clickable]
 [moon.entity.line-render :entity/line-render]
 [moon.entity.image :entity/image]
 [moon.entity.mouseover :entity/mouseover?]
 ]
