[
 [com.badlogic.gdx.graphics.OrthographicCamera
  com.badlogic.gdx.graphics.orthographic-camera
  moon.camera/OrthographicCamera]

 [com.badlogic.gdx.scenes.scene2d.Actor
  game.ui.actor
  gdl.scene2d.actor/Actor]

 [com.badlogic.gdx.scenes.scene2d.Group
  game.ui.group
  gdl.scene2d.group/Group]

 [com.badlogic.gdx.scenes.scene2d.Event
  com.badlogic.gdx.scenes.scene2d.event
  gdl.scene2d.event/Event]

 [com.badlogic.gdx.utils.Disposable
  com.badlogic.gdx.utils.disposable
  gdl.utils.disposable/Disposable]

 [com.badlogic.gdx.utils.viewport.FitViewport
  com.badlogic.gdx.utils.viewport.fit-viewport
  moon.viewport/Viewport]]
