[
 [com.badlogic.gdx.Application
  clojure.gdx.freetype
  clojure.freetype/Freetype]
 [com.badlogic.gdx.graphics.OrthographicCamera
  clojure.gdx.orthographic-camera
  clojure.camera/Camera]
 [com.badlogic.gdx.utils.viewport.Viewport
  clojure.gdx.viewport
  clojure.viewport/Viewport]
 [com.badlogic.gdx.Input
  clojure.gdx.input
  clojure.input/Input]
 [com.badlogic.gdx.graphics.g2d.BitmapFont
  clojure.gdx.bitmap-font
  clojure.bitmap-font/BitmapFont]
 [clojure.lang.PersistentVector
  clojure.gdx.graphics.color
  clojure.color/Color]
 [com.badlogic.gdx.Audio
  clojure.gdx.audio
  clojure.audio/Audio]
 [com.badlogic.gdx.audio.Sound
  clojure.gdx.audio.sound
  clojure.audio.sound/Sound]
 [com.badlogic.gdx.Files
  clojure.gdx.files
  clojure.files/Files]
 [com.badlogic.gdx.files.FileHandle
  clojure.gdx.files.file-handle
  clojure.files.file-handle/FileHandle]
 [com.badlogic.gdx.Graphics
  clojure.gdx.graphics
  clojure.graphics/Graphics]
 [com.badlogic.gdx.graphics.Texture
  clojure.gdx.graphics.texture
  clojure.texture/Texture]
 [com.badlogic.gdx.graphics.g2d.TextureRegion
  clojure.gdx.graphics.g2d.texture-region
  clojure.texture-region/TextureRegion]
 [com.badlogic.gdx.graphics.g2d.Batch
  clojure.gdx.graphics.g2d.batch
  clojure.graphics.batch/Batch]
 [space.earlygrey.shapedrawer.ShapeDrawer
  clojure.gdx.shape-drawer
  clojure.shape-drawer/ShapeDrawer]
 [com.badlogic.gdx.scenes.scene2d.Actor
  clojure.gdx.scene2d.actor
  moon.actor/Actor]
 [com.badlogic.gdx.scenes.scene2d.Event
  clj.api.com.badlogic.gdx.scenes.scene2d.event
  clojure.scene2d.event/Event]
 [com.badlogic.gdx.scenes.scene2d.ui.CheckBox
  clojure.gdx.scene2d.ui.check-box
  clojure.scene2d.ui.check-box/CheckBox]
 [com.badlogic.gdx.scenes.scene2d.ui.Image
  clj.api.com.badlogic.gdx.scenes.scene2d.ui.image
  clojure.scene2d.ui.image/Image]
 [com.badlogic.gdx.scenes.scene2d.ui.SelectBox
  clojure.gdx.scene2d.ui.select-box
  clojure.scene2d.ui.select-box/SelectBox]
 [com.badlogic.gdx.scenes.scene2d.ui.Table
  clojure.gdx.scene2d.ui.table
  moon.table/Table]
 [com.badlogic.gdx.scenes.scene2d.ui.TextField
  clj.api.com.badlogic.gdx.scenes.scene2d.ui.text-field
  clojure.scene2d.ui.text-field/TextField]
 [com.badlogic.gdx.scenes.scene2d.ui.WidgetGroup
  clojure.gdx.scene2d.ui.widget-group
  clojure.scene2d.ui.widget-group/WidgetGroup]
 [com.badlogic.gdx.scenes.scene2d.Group
  clojure.gdx.scene2d.group
  clojure.scene2d.group/Group]
 [com.badlogic.gdx.scenes.scene2d.ui.Label
  clj.api.com.badlogic.gdx.scenes.scene2d.ui.label
  clojure.scene2d.ui.label/Label]
 [com.badlogic.gdx.utils.Disposable
  clojure.gdx.utils.disposable
  clojure.disposable/Disposable]
 ]
