{
 :create-pipeline #edn/resource "create.edn"
 :render-pipeline #edn/resource "render.edn"
 :dispose! moon.application.dispose/do!
 :resize! moon.application.resize/do!
 :title "Moon"
 :windowed-mode {:width 1440
                 :height 900}
 :foreground-fps 60
 :colors {"PRETTY_NAME" [0.84 0.8 0.52 1]}
 }
