{
 :create-pipeline #edn/resource "create.edn"
 :render-pipeline #edn/resource "render.edn"
 :dispose! moon.application.dispose/do!
 :resize! moon.application.resize/do!
 :config {:title "Moon"
          :windowed-mode {:width 1440
                          :height 900}
          :foreground-fps 60}
 }
