[
 [moon.render.get-stage-ctx/step]
 [moon.render.validate/step]
 [moon.render.update-mouse/step]
 [moon.render.update-mouseover-eid/step]
 [moon.render.check-debug-viewer/step]
 [moon.render.active-entities/step]
 [moon.render.set-camera/step]
 [moon.render.clear-screen/step]
 [moon.render.draw-tiled-map/step clojure.gdx.maps.tiled.renderer/draw!]
 [moon.render.draw-on-world-viewport/step [
                                           #_moon.render.draw-on-world-viewport.draw-tile-grid/draws
                                           moon.render.draw-on-world-viewport.draw-cell-debug/draws
                                           moon.render.draw-on-world-viewport.draw-entities/do!
                                           #_moon.geom-test
                                           moon.render.draw-on-world-viewport.highlight-mouseover-tile/draws
                                           ]]
 [moon.render.assoc-interaction-state/step]
 [moon.render.set-cursor/step]
 [moon.render.handle-input/step]
 [moon.render.dissoc-interaction-state/step]
 [moon.render.assoc-paused/step]
 [moon.render.if-not-paused/step [moon.render.if-not-paused.update-time/step
                                  moon.render.if-not-paused.update-potential-fields/step
                                  moon.render.if-not-paused.tick-entities/step]]
 [moon.render.remove-destroyed-entities/step]
 [moon.render.window-camera-controls/step]
 [moon.render.stage/step]
 [moon.render.validate/step]
 ]
