[
 [moon.application.render.get-stage-ctx/step]
 [moon.application.render.validate/step]
 [moon.application.render.update-mouse/step]
 [moon.application.render.update-mouseover-eid/step]
 [moon.application.render.check-debug-viewer/step]
 [moon.application.render.active-entities/step]
 [moon.application.render.set-camera/step]
 [moon.application.render.clear-screen/step]
 [moon.application.render.draw-tiled-map/step]
 [moon.application.render.draw-on-world-viewport/step [
                                                       #_moon.application.render.draw-on-world-viewport.draw-tile-grid/draws
                                                       moon.application.render.draw-on-world-viewport.draw-cell-debug/draws
                                                       moon.application.render.draw-on-world-viewport.draw-entities/do!
                                                       #_moon.geom-test
                                                       moon.application.render.draw-on-world-viewport.highlight-mouseover-tile/draws
                                                       ]]
 [moon.application.render.assoc-interaction-state/step]
 [moon.application.render.set-cursor/step]
 [moon.application.render.handle-input/step]
 [moon.application.render.dissoc-interaction-state/step]
 [moon.application.render.assoc-paused/step]
 [moon.application.render.if-not-paused/step [moon.application.render.if-not-paused.update-time/step
                                              moon.application.render.if-not-paused.update-potential-fields/step
                                              moon.application.render.if-not-paused.tick-entities/step]]
 [moon.application.render.remove-destroyed-entities/step]
 [moon.application.render.window-camera-controls/step]
 [moon.application.render.stage/step]
 [moon.application.render.validate/step]
 ]
