; TODO also render is defined as 'one function (public !) - thats it - check programmatically - validate code structure
; clojure structured code
; TODO this is not real but abstract ! just write code itself? at start also ?
[
 [moon.render.get-stage-ctx/do!]
 [moon.render.validate/do!]
 [moon.render.update-mouse/do!]
 [moon.render.update-mouseover-eid/do!]
 [moon.render.check-open-debug/do!]
 [moon.render.assoc-active-entities/do!]
 [moon.render.set-camera-on-player/do!]
 [moon.render.clear-screen/do!]
 [moon.render.draw-world-map/do! moon.tile-color-setter/create]
 [moon.render.draw-on-world-viewport/do! [
                                          #_moon.draw-on-world-viewport.draw-tile-grid/draws
                                          moon.draw-on-world-viewport.draw-cell-debug/draws
                                          moon.draw-on-world-viewport.draw-entities/do!
                                          #_moon.application.render.draw-on-world-viewport.geom-test/do!
                                          moon.draw-on-world-viewport.highlight-mouseover-tile/draws
                                          ]]
 [moon.render.player-state/do!]
 [moon.render.assoc-paused/do!]
 [moon.render.if-not-paused/do! [
                                 [moon.if-not-paused.update-time/do!]
                                 [moon.if-not-paused.update-potential-fields/do!]
                                 [moon.if-not-paused.tick-entities/do!]
                                 ]]
 [moon.render.remove-destroyed-entities/do!]
 [moon.render.window-camera-controls/do!]
 [moon.render.render-stage/do!]
 [moon.render.validate/do!]
 ]
