[
 moon.ui-impl
 moon.info-impl

 moon.entity.state.active-skill
 moon.entity.state.npc-dead
 moon.entity.state.npc-idle
 moon.entity.state.npc-moving
 moon.entity.state.npc-sleeping
 moon.entity.state.player-dead
 moon.entity.state.player-idle
 moon.entity.state.player-item-on-cursor
 moon.entity.state.player-moving
 moon.entity.state.stunned
 ]
