{
 :requires [
            moon.entity.state-impl
            moon.ui.editor.window
            moon.ui.editor.widgets-impl
            moon.txs-impl
            moon.entity.animation
            moon.entity.body
            moon.entity.delete-after-duration
            moon.entity.projectile-collision
            moon.entity.stats
            ]
 :config [moon.application/lwjgl-app-config {:title "Moon"
                                             :window {:width 1440
                                                      :height 900}
                                             :fps 60}]
 :listener [moon.application/app-listener {:create!  moon.listener.create/do!
                                           :render!  moon.listener.render/do!
                                           :dispose! moon.listener.dispose/do!
                                           :resize!  moon.listener.resize/do!}]
 }
