[game.world-fns.modules/create
 {:initial-grid-fn moon.caves/create
  :grid2d-fix-nads-fn moon.nads/fix-nads
  :load-tmx-tiled-map com.badlogic.gdx.maps.tiled/load!
  :create-tiled-map-object com.badlogic.gdx.maps.tiled/create-map
  :world/map-size 5,
  :world/max-area-level 3,
  :world/spawn-rate 0.05}]
