[game.world-fns.uf-caves/create
 {:initial-grid-create-fn moon.caves/create
  :grid2d-fix-nads-fn moon.nads/fix-nads
  :tiled-create-map moon.tiled/create-map
  :tiled-create-tile moon.tiled/create-tile
  :tile-size 48
  :texture-path "maps/uf_terrain.png"
  :spawn-rate 0.02
  :scaling 3
  :cave-size 200
  :cave-style :wide}]
